#Ignore
.svn 
.curry
.cake
_darcs

# Ignore loads of file types.

*.swp
*#
*.class
*.exe
*.aux
*.bak
*.beam
*.dvi
*.gfc
*.gfr
*.hi
*.log
*.nav
*.o
*.out
*.pdf
*.prof
*.ptb
*.tmp
*.toc
*.snm
*.vrb
*/.svn
*~
.#*
.*.agda.el
*.agdai
.DS_Store
._*
.yi.dbg
_darcs
*.git

grader*lab*
#submissions + exe are huge



